---
import { type CATEGORIES_MOVIES } from "@/types/apiCategoriesMovies";
import { getCategories } from "@/services/getCategories";
import CategoriesButtons from "@/components/CategoriesButtons.astro";
import MovieContainer from "@/components/MovieContainer.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import type { Moviesbycategory } from "@/types/apiMovieByCategory";
import { getMoviesByCategory } from "@/services/getMoviesByCategory";
import MoviesCard from "@/components/MoviesCard.astro";

const dataMovies = (await getMoviesByCategory()) as Moviesbycategory;
const movies = dataMovies.results;

const dataCategories = (await getCategories()) as CATEGORIES_MOVIES;
const categories = dataCategories.genres;

export const prerender = true;
---

<SectionContainer title="Categories" id="categories">
  <div id="genres-container" class="flex flex-wrap flex-row gap-1 mb-2">
    {
      categories.map((category) => (
        <CategoriesButtons id={`${category.id}`} text={category.name} />
      ))
    }
  </div>
</SectionContainer>
<SectionContainer
  titleId="titleMovie"
  title="Popular Movies"
  id="movies-section"
>
  <MovieContainer>
    {
      movies.map((movie) => (
        <MoviesCard
          id={movie.id}
          title={movie.title}
          image={`https://image.tmdb.org/t/p/w300${movie.poster_path}`}
          average={movie.vote_average}
        />
      ))
    }
  </MovieContainer>
  <div class="flex justify-center mt-6">
    <button id="view-more-movies" class="text-lg font-bold">
      View more movies
    </button>
  </div>
</SectionContainer>

<script>
  import type { Moviesbycategory } from "@/types/apiMovieByCategory";
  import { setUpLazyLoad } from "@/services/lazyLoad";
  import notFound from "@/assets/svg/notFound.svg?raw";
  import Star from "@/assets/svg/Star.svg?raw";

  const setupGenresContainer = () => {
    const genresContainer = document.getElementById(
      "genres-container"
    ) as HTMLElement;
    const viewMoreMoviesButton = document.getElementById(
      "view-more-movies"
    ) as HTMLElement;

    let currentPage = 1;

    viewMoreMoviesButton.addEventListener("click", async () => {
      currentPage++;
      const hash = window.location.hash;

      if (hash.startsWith("#category")) {
        const [hashCategory, hashId] = hash.split("=");
        const [categoryID, categoryName] = hashId.split("-");
        (async () => {
          const response = await fetch(
            `/api/pageId/${categoryID}/${currentPage}.json`
          );

          if (!response.ok) {
            throw new Error(`Error fetching data: ${response.statusText}`);
          }
          const movies = await response.json();

          printMovies(movies, "", false);
        })();
      } else {
        try {
          const response = await fetch(`/api/page/${currentPage}.json`);
          if (!response.ok) {
            throw new Error(`Error fetching data: ${response.statusText}`);
          }
          const data = await response.json();

          printMovies(data, "", false);
        } catch (error) {
          console.error(error);
        }
      }
    });

    genresContainer.addEventListener("click", async (event) => {
      const target = event.target as HTMLElement;

      if (target.tagName === "BUTTON") {
        const categoryID = target.id;
        const categoryName = target.textContent?.trim();

        try {
          const movies = await getMoviesByCategory(`${categoryID}`);
          printMovies(movies, `${categoryName}`, true);
          history.pushState({}, "", `#category=${categoryID}-${categoryName}`);
        } catch (error) {
          console.error(error);
        }
      }
    });

    // Ajustar
    window.addEventListener("popstate", async () => {
      const hash = window.location.hash;

      if (!hash) {
        window.location.reload();
      } else if (hash.startsWith("#category")) {
        const [hashCategory, hashId] = hash.split("=");
        const [categoryID, categoryName] = hashId.split("-");
        try {
          const movies = await getMoviesByCategory(`${categoryID}`);
          printMovies(movies, `${categoryName}`);
        } catch (error) {
          console.error(error);
        }
      }
    });

    // Ajustar
    window.addEventListener("hashchange", () => {
      const hash = window.location.hash;
      if (hash && hash.startsWith("#category")) {
        const [hashCategory, hashId] = hash.split("=");
        const [categoryID, categoryName] = hashId.split("-");
        (async () => {
          const movies = await getMoviesByCategory(`${categoryID}`);
          printMovies(movies, `${categoryName}`, true);
        })();
      }
    });

    async function getMoviesByCategory(categoryID: string) {
      try {
        const response = await fetch(`/api/${categoryID}.json`);
        if (!response.ok) {
          throw new Error(`Error fetching data: ${response.statusText}`);
        }
        const data = await response.json();

        return data;
      } catch (error) {
        console.error(error);
      }
    }

    function printMovies(
      movies: Moviesbycategory,
      CategoriName: string,
      clean = false
    ) {
      const title = document.getElementById("titleMovie") as HTMLElement;
      const moviesContainer = document.getElementById(
        "movies-container"
      ) as HTMLElement;

      if (clean) {
        moviesContainer.innerHTML = "";
        CategoriName.includes("Movie")
          ? (title.innerHTML = `${CategoriName}`)
          : (title.innerHTML = `${CategoriName} Movies`);
      }

      movies.results.map((movie) => {
        const link = document.createElement("a");
        link.href = `/movie/${movie.id}`;
        link.className = "hover:scale-105 transition-transform";

        const article = document.createElement("article");
        article.className = "relative";

        const picture = document.createElement("picture");
        picture.className = "h-full w-full";

        if (movie.poster_path === null) {
          const noImage = document.createElement("div");
          noImage.setAttribute("aria-label", "Image no found");
          noImage.setAttribute("role", "img");
          noImage.className =
            "w-full h-full rounded-2xl poster-img flex flex-col items-center justify-center gap-4 min-h-[246px]";

          const span = document.createElement("span");
          span.className = "text-lg md:text-xl xl:text-2xl font-extrabold";
          span.innerText = "Image no found";

          const svgContainer = document.createElement("div");
          svgContainer.innerHTML = notFound.toString();

          noImage.append(span, svgContainer);
          picture.appendChild(noImage);
        } else {
          const img = document.createElement("img");
          img.setAttribute(
            "data-src",
            `https://image.tmdb.org/t/p/w500${movie.poster_path}`
          );
          img.setAttribute("alt", `${movie.title}`);
          img.className = "lazy poster-img embla__slide__img mask-bottom";

          picture.appendChild(img);
        }

        const header = document.createElement("header");
        header.className =
          "absolute bottom-0 text-start mt-0 p-2 bg-black/50 backdrop-saturate-150 text-white md:pl-4 rounded-b-2xl w-full";

        const h3 = document.createElement("h3");
        h3.className = "embla__slide__title";
        h3.innerText = `${movie.title}`;

        const div = document.createElement("div");
        div.className = "w-auto flex flex-row gap-2 items-center";

        const average = document.createElement("p");
        average.className = "embla__slide__average";
        average.innerText = `${(movie.vote_average ?? 0).toFixed(1)}`;

        const svgContainer = document.createElement("div");
        svgContainer.innerHTML = Star.toString();

        div.append(svgContainer, average);
        header.append(h3, div);
        article.append(picture, header);
        link.appendChild(article);
        moviesContainer.appendChild(link);
      });
      setUpLazyLoad();
    }
  };
  document.addEventListener("astro:page-load", setupGenresContainer);
</script>
