---
import Star from "@/assets/svg/Star.svg";
import Calendar from "@/assets/svg/Calendar.svg";
import Clock from "@/assets/svg/Clock.svg";

interface Props {
  img: string;
  title: string;
  average: string;
  alt: string;
  overview: string;
  runtime: string;
  realeaseDate: any;
}

const { img, title, average, alt, overview, runtime, realeaseDate } =
  Astro.props;
---

<section id="movie" class="bg-bg-300 h-auto w-full flex flex-col">
  <img
    src={`https://image.tmdb.org/t/p/w400${img}`}
    alt={alt}
    class="w-full object-cover"
  />
  <div class="flex flex-col justify-between p-4 gap-2">
    <h2 class="text-3xl font-bold">
      {title}
    </h2>
    <div class="flex items-center gap-2">
      <small class="flex items-center gap-1">
        <Calendar class="w-4 h-4" />
        {realeaseDate}
      </small>
      <small class="flex items-center gap-1">
        <Clock class="w-4 h-4" />
        {runtime}
      </small>
      <small class="flex items-center gap-1">
        <Star class="text-yellow-400 w-4 h-4" />
        {average}/10
      </small>
    </div>
    <p class="text-lg font-normal text-text-200">{overview}</p>
  </div>
</section>
