---
import { getDetailsMovie } from "@/services/getDetailsMovie";
import { type ReleaseDate, type Result } from "@/types/apiReleaseDate";

import Calendar from "@/assets/svg/Calendar.svg";
import Clock from "@/assets/svg/Clock.svg";
import Star from "@/assets/svg/Star.svg";

interface Props {
  movieId: string;
  average: string;
  runtime: string;
}

const { average, runtime, movieId } = Astro.props;

const releaseDate = (await getDetailsMovie(
  movieId,
  "/release_dates"
)) as ReleaseDate;

function getReleaseDate(releaseDate: ReleaseDate) {
  const result = releaseDate.results.find(
    (result: Result) => result.iso_3166_1 === "EE" || result.iso_3166_1 === "US"
  );

  if (!result) return "";

  const date = new Date(result.release_dates[0].release_date);
  const day = date.getUTCDate();
  const month = date.getUTCMonth() + 1;
  const year = date.getUTCFullYear();

  return `${day}/${month}/${year}`;
}

const realeaseDate = getReleaseDate(releaseDate);
---

<div class="flex items-center gap-2 opacity-80">
  <small class="small-details">
    <Calendar />
    {realeaseDate}
  </small>
  <small class="small-details">
    <Clock />
    {runtime}
  </small>
  <small class="small-details">
    <Star class="text-yellow-400" />
    {average}/10
  </small>
</div>
