---
import Star from "@/assets/svg/Star.svg";

interface Props {
  mobileImage: string;
  desktopImage: string;
  title: string;
  average: number;
  alt: string;
  id: number;
}

const { mobileImage, desktopImage, title, average, alt, id } = Astro.props;
---

<a
  class="embla__slide hover:scale-y-105 transition-transform"
  href={`/movie/${id}`}
>
  <picture class="relative md:h-full md:w-full">
    <source media="(min-width: 768px)" srcset={desktopImage} />
    <img class="embla__slide__img" src={mobileImage} alt={alt} />
  </picture>
  <div
    class="embla__slide__info md:bg-black/50 md:backdrop-saturate-150 md:text-white md:pl-4 md:rounded-b-2xl md:w-full"
  >
    <h2 class="embla__slide__title">{title}</h2>
    <div
      class="w-auto flex flex-row gap-2 items-center justify-center md:justify-start"
    >
      <Star class="w-4 h-4 text-yellow-400 md:w-5 md:h-5" />
      <p class="embla__slide__average">{`${average.toFixed(1)}`}</p>
    </div>
  </div>
</a>
