---
import Star from "@/assets/svg/Star.svg";
import NotFound from "@/assets/svg/notFound.svg";

interface Props {
  mobileImage: string;
  desktopImage: string;
  title: string;
  average: number;
  alt: string;
  id: number;
}

const { mobileImage, desktopImage, title, average, alt, id } = Astro.props;
---

<article class="space-y-2 embla__slide min-h-[290px]">
  <a
  class="hover:scale-y-105 transition-transform"
  href={`/movie/${id}`}
>
  <picture class="relative md:h-full md:w-full">
    {
      mobileImage.includes("null") ? (
        <div aria-label="Image no found" role="img" class="w-full h-full rounded-2xl poster-img flex flex-col items-center justify-center gap-4">
          <p class="text-lg md:text-xl xl:text-2xl font-extrabold">
            Image no found
          </p>
          <NotFound class="size-24" aria-hidden="true"/>
        </div>
      ) : (
        <source media="(min-width: 768px)" srcset={desktopImage} /> 
        <img
          class="lazy poster-img embla__slide__img mask-bottom"
          data-src={mobileImage}
          alt={title}
        />
      )
    }
  </picture>
  <div
    class="embla__slide__info p-2 md:bg-black/70 md:text-white md:pl-4 md:rounded-b-2xl md:w-full md:mask-top"
  >
    <h2 class="embla__slide__title">{title}</h2>
    <div
      class="w-auto flex flex-row gap-2 items-center justify-center md:justify-start"
    >
      <Star class="w-4 h-4 text-yellow-400 md:w-5 md:h-5" />
      <p class="embla__slide__average">{`${average.toFixed(1)}`}</p>
    </div>
  </div>
</a>

</article>
