---
import { type DetailsMovie } from "@/types/apiDetailsMovies";
import { type SimilarMovies } from "@/types/apiSimilarMovies";
import { type MoviesReviews } from "@/types/apiMovieReviews";
import { getDetailsMovie } from "@/services/getDetailsMovie";
import Layout from "@/layouts/Layout.astro";
import DetailsMovies from "@/components/DetailsMovies.astro";
import TopCast from "@/components/TopCast.astro";
import SimilarMoviesContainer from "@/components/SimilarMoviesContainer.astro";
import ReviewsContainer from "@/components/ReviewsContainer.astro";

export const prerender = false;

const { id: movieId } = Astro.params;

let movieDetails;
let reviews;

if (movieId) {
  movieDetails = (await getDetailsMovie(movieId)) as DetailsMovie;
  reviews = (await getDetailsMovie(movieId, "/reviews")) as MoviesReviews;
}

function getRuntime(runtime: number) {
  const hours = Math.floor(runtime / 60);
  const minutes = Math.floor(runtime % 60);
  return `${hours}h ${minutes}m`;
}

function getReviews(reviews: MoviesReviews) {
  let movies = reviews.results;

  if (movies.length > 0) {
    return movies.filter((movie) => movie.author_details?.avatar_path);
  } else {
    return [];
  }
}
---

<Layout title=`${movieDetails?.original_title} - Reel Library`>
  <div class="flex flex-col gap-5 md:gap-10">
    <DetailsMovies
      movieId=`${movieId}`
      img=`${movieDetails?.poster_path}`
      title={`${movieDetails?.original_title}`}
      average={`${movieDetails?.vote_average.toFixed(1)}`}
      alt={`${movieDetails?.original_title}`}
      overview={`${movieDetails?.overview}`}
      runtime={movieDetails?.runtime ? getRuntime(movieDetails.runtime) : ""}
      genres={movieDetails?.genres || []}
    />
    <TopCast movieId={`${movieId}`} />
    <ReviewsContainer reviews={reviews ? getReviews(reviews) : []} />
    <SimilarMoviesContainer movieId={`${movieId}`} />
  </div>
</Layout>
