---
import { type DetailsMovie } from "@/types/apiDetailsMovies";
import { type MoviesReviews } from "@/types/apiMovieReviews";
import { getDetailsMovie } from "@/services/getDetailsMovie";
import Layout from "@/layouts/Layout.astro";
import DetailsMovies from "@/components/DetailsMovies.astro";
import TopCast from "@/components/TopCast.astro";
import SimilarMoviesContainer from "@/components/SimilarMoviesContainer.astro";
import ReviewsContainer from "@/components/ReviewsContainer.astro";

export const prerender = false;

const { id: movieId } = Astro.params;

let movieDetails;

if (movieId) {
  movieDetails = (await getDetailsMovie(movieId)) as DetailsMovie;
}

function getRuntime(runtime: number) {
  const hours = Math.floor(runtime / 60);
  const minutes = Math.floor(runtime % 60);
  return `${hours}h ${minutes}m`;
}
---

<Layout
  title=`${movieDetails?.original_title} - Reel Library`
  description=`${movieDetails?.overview}`
  keywords=`${movieDetails?.original_title}, ${movieDetails?.genres.join(", ")}, películas, biblioteca de películas, TMDB API, movie database, películas populares, reseñas de películas, categorías de películas, Astro.js, desarrollo web, streaming, cartelera, movie ratings, React, JavaScript, frontend`
  canonical=`https://reel-library.vercel.app/movie/${movieId}`
>
  <div class="flex flex-col gap-5 md:gap-10">
    <DetailsMovies
      movieId=`${movieId}`
      img=`${movieDetails?.poster_path}`
      title={`${movieDetails?.title}`}
      average={`${movieDetails?.vote_average.toFixed(1)}`}
      alt={`${movieDetails?.original_title}`}
      overview={`${movieDetails?.overview}`}
      runtime={movieDetails?.runtime ? getRuntime(movieDetails.runtime) : ""}
      genres={movieDetails?.genres || []}
    />
    <TopCast movieId={`${movieId}`} />
    <ReviewsContainer movieId={`${movieId}`} />
    <SimilarMoviesContainer movieId={`${movieId}`} />
  </div>
</Layout>
